<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="/attack/{{attack.id}}/respond/fail">
  <h1>Jetzt sparen!</h1>
  <h2>Thermomix für nur</h2>
  <h1>100 €!</h1>
  </a>
</body>
</html>